html { height: 100%; }
body {
	height: 99%;
  background-image: url('untitled.jpg');
  background-size: cover;
	font-family: tahoma, geneva, helvetica, sans-serif;
	font-size: 1em;
	color: #312b2d;
}

#indexWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
	width: 80%;
	min-height: 100%;
	margin: auto;
	border: 0px;
	padding: 0px;
}

h1 {
	display: inline;
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 13em;
	line-height: .85em;
	font-weight: bold;
}

h2 {
  margin: 0;
  padding-left: 16px;
}

@media all and (max-width: 699px) {
  h1 {
    font-size: 450%;
  }
}

@media all and (min-width: 700px) and (max-width: 1000px) {
  h1 {
    font-size: 900%;
  }
}

a {
  text-decoration: underline;
}
a:visited {
  color: blue;
}

li,
address {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin: 0px;
  padding: 8px 16px;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

@media all and (min-width: 699px) {
  ul {
    flex-direction: row;
  }
  li {
    margin: 8px 24px;
  }
}

li img {
  height: 32px;
  margin-right: 16px;
  width: 32px;
}

address,
li a {
  border-radius: 200px;
  padding: 8px 16px;
  background-color: white;
  font-size: .75em;
  letter-spacing: .25em;
  font-style: italic;
}

address {
  margin: 16px 0;
}