<header>
  <h1>Paul Browning</h1>
  <p>Frontend developer, designer</p>
  <ul>
    <li><a href="mailto:centaur@centaurreader.com">centaur@centaurreader.com</a></li>
    <li><a href="http://twitter.com/centaurreader">http://twitter.com/centaurreader</a></li>
    <li><a href="http://github.com/centaurreader">http://github.com/centaurreader</a></li>
  </ul>
</header>
<main>
  <!-- foreach project -->
  {{> project name="blah" source="blah software" description="test"}}
  <!-- end foreach -->
</main>