<article class="project">
  <img src="desktop.jpg" alt="desktop screenshot">
  <img src="mobile.jpg" alt="mobile screenshot">
  <h2>{{name}}</h2>
  <a href="#" title="Project source">{{source}}</a>
  <p>{{description}}</p>
</article>
