<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <link type="text/css" href="master.css" rel="stylesheet">
    <title>Paul Browning - centaurreader.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://centaurreader.com/img/fb-share.png"> <!-- add fb share img -->
    <meta property="og:title" content="Paul Browning - centaurreader">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://centaurreader.com">
    <meta property="og:site_name" content="Paul Browning - centaurreader">
    <meta property="og:description" content="Frontend developer, designer">
    <meta property="description" content="Frontend developer, designer">
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@centaurreader">
    <meta name="twitter:creator" content="@centaurreader">
    <meta name="twitter:title" content="Paul Browning - centaurreader">
    <meta name="twitter:description" content="Frontend developer, designer">
    <meta name="twitter:image" content="http://centaurreader.com/img/tw-share.png">  <!-- add tw share img -->
    <meta name="twitter:url" content="http://centaurreader.com">
    <!-- add fontfaceobserver -->
    <!-- add critical css -->
    <!-- add async css loading -->
  </head>
  <body>
    <%= contents %>
  </body>
</html>